gris=#4a4a4a

body
	background white
	color black
	font helvetica
	font-size 12px

header
	background-color white
	padding 0.5em
	position relative

	.logo
		width 100px
		margin-top 20px
		float left

		img
			width 100px

	.titular
		margin 20px 80px 0 120px 
		.titulo
			font-size 18px
			font-weight normal
			margin 0
			padding 0
	
	.usuario
		position absolute
		top 15px
		right 0px

		.avatar
			img
				width 50px
				border-radius 50%
		
		.flecha
		background black
		color white
		display block
		position absolute
		top 0
		text-align right
		width 2em


nav
	background #aeaeae
